* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  overflow-x: hidden;
  display: flex;
  height: 100vh;
  justify-content: center;
  .container-md {
    margin-top: 128px;
    width: 100%;
    max-width: 1280px;
    padding: 0 80px;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    .container-md {
      padding: 0 16px;
    }
  }
}
